{% if pages.blkstudio.title != blank %}
  <h1>{{ pages.blkstudio.title }}</h1>
  {{ pages.blkstudio.content }}
{% endif %}


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

